In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("../../CSV/attacks.csv", encoding='latin1')

In [3]:
print(df.shape)
df.head() #Investigo un poco lo que contiene el DF

(25723, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
df2=df.drop(['Case Number', 'Date','Type','Area', 'Location','Name','Sex ','Age','Injury','Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], axis=1) #Elimino las columnas que no me aportan información para el estudio que quiero hacer

In [6]:
df2.drop_duplicates() #Elimino los valores que están duplicados

,Year,Country,Activity,Fatal (Y/N),Time,Species
0,2018.0,USA,Paddling,N,18h00,White shark
1,2018.0,USA,Standing,N,14h00 -15h00,NaN
2,2018.0,USA,Surfing,N,07h45,NaN
3,2018.0,AUSTRALIA,Surfing,N,NaN,2 m shark
4,2018.0,MEXICO,Free diving,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...
6298,0.0,AUSTRALIA,Pearl diving,Y,NaN,NaN
6299,0.0,USA,Swimming,Y,NaN,NaN
6300,0.0,PANAMA,NaN,Y,NaN,NaN
6301,0.0,CEYLON (SRI LANKA),Swimming,Y,NaN,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(df2.shape) #Miro como ha quedado
df2.tail()

(25723, 6)

       Year Country Activity Fatal (Y/N) Time Species
25718   NaN     NaN      NaN         NaN  NaN      NaN
25719   NaN     NaN      NaN         NaN  NaN      NaN
25720   NaN     NaN      NaN         NaN  NaN      NaN
25721   NaN     NaN      NaN         NaN  NaN      NaN
25722   NaN     NaN      NaN         NaN  NaN      NaN

In [8]:
df2["Activity"].unique() #Valores de la columna activity.Quiero filtrar y seleccionar los que estaban surfeando.

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [9]:
data_filter = df2[df2["Activity"] == "Surfing" ] 
data_filter

,Year,Country,Activity,Fatal (Y/N),Time,Species
2,2018.0,USA,Surfing,N,07h45,NaN
3,2018.0,AUSTRALIA,Surfing,N,NaN,2 m shark
15,2018.0,SOUTH AFRICA,Surfing,N,11h00,NaN
16,2018.0,AUSTRALIA,Surfing,N,10h30,Shark involvement not confirmed
19,2018.0,AUSTRALIA,Surfing,N,16h50,NaN
...,...,...,...,...,...,...
5235,1922.0,AUSTRALIA,Surfing,Y,Evening,NaN
5280,1918.0,AUSTRALIA,Surfing,N,18h00,12' shark
6097,1828.0,USA,Surfing,Y,NaN,NaN
6143,1779.0,USA,Surfing,Y,NaN,NaN
6201,0.0,USA,Surfing,N,NaN,NaN

In [10]:
data_filter.isnull().sum() #Hay bastantes nulos en columnas que me interesan. Voy a eliminarlos.

Year             0
Country          1
Activity         0
Fatal (Y/N)     38
Time           222
Species        380
dtype: int64

In [11]:
data_filter.isnull().sum(axis=1) #Chequeo cuantos nulos hay como máximo en una fila

2       1
3       1
15      1
16      0
19      1
       ..
5235    1
5280    0
6097    2
6143    2
6201    2
Length: 971, dtype: int64

In [12]:
data_filter=data_filter.dropna(thresh=6) #Mantiene las filas que tienen 6 o más valores no nulos. Es decir, elimina las que tienen 2 nulos o más.
data_filter.isnull().sum()

Year           0
Country        0
Activity       0
Fatal (Y/N)    0
Time           0
Species        0
dtype: int64

In [13]:
data_filter['Fatal (Y/N)'].value_counts()  #Voy a limpiar los nulos de la columna "Fatal Y/N".Primero quiero chequear que valores hay

N    430
Y     26
Name: Fatal (Y/N), dtype: int64

In [14]:
#El 94,7% de los ataques no son mortales, por lo que aplicaré ese porcentaje sobre los nulos y sobre los UNKNOW para rellenar sus valores
data_filter['Fatal (Y/N)']=data_filter['Fatal (Y/N)'].fillna("N")
data_filter['Fatal (Y/N)']=data_filter['Fatal (Y/N)'].replace({'UNKNOWN':'Y'})
data_filter['Fatal (Y/N)'].value_counts()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

N    430
Y     26
Name: Fatal (Y/N), dtype: int64

In [15]:
data_filter['Time'].sort_values().unique() #Quiero normalizar la columna "Time".Chequeo valores

array(['"Just before 11h00"', '--', '05h40', '05h45', '06h00', '06h10',
       '06h15', '06h30', '06h45', '06j00', '07h00', '07h05', '07h08',
       '07h15', '07h19', '07h30', '07h40', '07h45', '0830', '08h00',
       '08h05', '08h10', '08h15', '08h30', '08h35', '08h45', '08h50',
       '08h57', '09h00', '09h00 -10h00', '09h05', '09h11', '09h15',
       '09h30', '09h35', '09h45', '10h00', '10h15', '10h16', '10h20',
       '10h25', '10h27', '10h28', '10h30', '10h35', '10h40', '10h45',
       '10h55', '11h00', '11h06', '11h10', '11h115', '11h15', '11h30',
       '11h40', '11h45', '11h50', '11h53', '12h00', '12h05', '12h30',
       '12h38', '12h39', '12h40', '12h45', '13h00', '13h15', '13h20',
       '13h25', '13h26', '13h30', '13h40', '13h45', '13h50', '13h53',
       '14h00', '14h10', '14h15', '14h20', '14h30', '14h35', '14h40',
       '14h45', '14h50', '15h00', '15h30', '15h35', '15h45', '15h50',
       '16h00', '16h05', '16h14', '16h15', '16h20', '16h30',
       '16h30 or 18h00', '16h45', '16h50', '16h55', '17h00',
       '17h00 or 17h40', '17h15', '17h17', '17h30', '17h45', '17h50',
       '18h00', '18h05', '18h15', '18h20', '18h30', '18h45', '18h50',
       '19h00', '19h28', '19h30', '20h00', '20h15', '20h30',
       '20h45 (Sunset)', '8:04 pm', '9h00', 'Afternoon', 'Early Morning',
       'Early morning', 'Evening', 'Just before sundown',
       'Late afternoon', 'Morning', 'Noon', 'X'], dtype=object)

In [16]:
data_filter.Time=data_filter.Time.apply(str) #Los convierto a string
data_filter.loc[data_filter["Time"].str.startswith("0"),"Time"] = "Early Morning"
data_filter.loc[data_filter["Time"].str.startswith("2"),"Time"] = "Late Afternoon"
data_filter.loc[data_filter["Time"].str.startswith("10"),"Time"] = "Morning"
data_filter.loc[data_filter["Time"].str.startswith("11"),"Time"] = "Morning"
data_filter.loc[data_filter["Time"].str.startswith("12"),"Time"] = "Morning"
data_filter.loc[data_filter["Time"].str.startswith("13"),"Time"] = "Morning"
data_filter.loc[data_filter["Time"].str.startswith("14"),"Time"] = "Morning"
data_filter.loc[data_filter["Time"].str.startswith("15"),"Time"] = "Afternoon"
data_filter.loc[data_filter["Time"].str.startswith("16"),"Time"] = "Afternoon"
data_filter.loc[data_filter["Time"].str.startswith("17"),"Time"] = "Afternoon"
data_filter.loc[data_filter["Time"].str.startswith("18"),"Time"] = "Afternoon"
data_filter.loc[data_filter["Time"].str.startswith("19"),"Time"] = "Afternoon"

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
#Normalizo en 4 valores + Unknown 
data_filter.Time=data_filter.Time.replace({                
    "Sometime between 06h00 & 08hoo": "Early Morning",
    "Just before noon": "Morning",
    "AM": "Early Morning",
    "8:04 pm": "Early Morning",
    "9h00": "Early Morning",
    "Noon": "Morning",
    '"Just before 11h00"': "Early Morning",
    "X": "Morning",
    "Just before 11h00": "Morning",
    "After noon": "Morning",
    "Early morning": "Early Morning",
    "--": "Morning"
})
data_filter.Time=data_filter.Time.replace({
    "LateAfternoon": "Late Afternoon",
    "Evening": "Late Afternoon", 
    "Late afternoon": "Late Afternoon",
    "Dusk":"Late Afternoon",
    "Just before sundown": "Late Afternoon",
    "After Dusk": "LateAfternoon",
    "30 minutes after 1992.07.08.a": "Late Afternoon",
    "P.M.": "Late Afternoon",
    "nan": "Unknown"                                       #Porque los Nan ahora son strings y no puedo con fillna
})

data_filter.Time.value_counts()

Morning           184
Afternoon         154
Early Morning     100
Late Afternoon     18
Name: Time, dtype: int64

In [18]:
data_filter.Country.isnull().sum() #Ningún nulo, esta columna no tengo que limpiarla

0

In [19]:
data_filter["Species "].sort_values().unique()
data_filter["Species "]=data_filter["Species "].apply(str) #Los convierto a string

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
SpeciesTemporal=[]
for e in data_filter["Species "]:
    patron=re.findall(r'\w{3,}\s\bshark', e)
    SpeciesTemporal.append(patron)
print(SpeciesTemporal)

[[], [], [], ['White shark'], ['Tiger shark'], ['White shark'], [], ['small shark'], ['Tiger shark'], [], ['Wobbegong shark'], ['Tiger shark'], [], ['White shark'], [], [], ['White shark'], ['White shark'], ['White shark'], ['White shark'], ['gill shark'], ['White shark'], ['Tiger shark'], ['Bull shark'], ['White shark'], [], ['White shark'], ['Bull shark'], ['Bull shark'], [], ['White shark'], ['Bull shark'], ['Reef shark'], ['whaler shark'], ['Bull shark'], ['White shark'], [], ['Spinner shark'], ['Tiger shark'], ['Blacktip shark'], ['Blacktip shark'], ['juvenile shark'], [], ['White shark'], ['White shark'], [], ['White shark'], ['spinner shark'], ['White shark'], ['White shark'], ['White shark'], ['White shark'], ['Bull shark'], [], ['White shark'], ['White shark'], ['Bull shark'], [], [], ['Raggedtooth shark'], [], ['White shark'], [], ['Tiger shark'], [], [], ['Blacktip shark'], ['Blacktip shark'], [], ['white shark'], ['White shark'], ['metre shark'], ['white shark'], [], ['gill shark'], ['White shark'], [], ['Wobbegong shark'], ['white shark'], ['White shark'], ['white shark'], ['Wobbegong shark'], ['Tiger shark'], ['White shark'], [], [], ['White shark'], ['Bull shark'], ['Tiger shark'], [], ['Galapagos shark'], ['small shark'], ['Bull shark'], [], ['reef shark'], ['reef shark'], ['Blacktip shark'], ['Tiger shark'], [], ['Tiger shark'], [], [], ['Tiger shark'], ['White shark'], ['White shark'], [], [], ['Bull shark'], ['White shark'], ['White shark'], [], [], [], [], ['Tiger shark'], ['bull shark'], ['bull shark'], [], [], ['White shark'], [], ['White shark'], [], ['spinner shark'], [], ['White shark'], ['reef shark'], ['White shark'], ['White shark'], ['Tiger shark'], ['whaler shark'], ['Bull shark'], ['Bull shark'], ['Bull shark'], ['lemon shark'], ['White shark'], [], ['White shark'], [], [], [], [], [], ['Wobbegong shark'], [], [], [], ['White shark'], ['Tiger shark'], ['whale shark'], ['spinner shark'], ['spinner shark'], ['spinner shark'], [], ['whaler shark'], [], [], ['White shark'], ['White shark'], ['White shark'], ['White shark'], [], ['Tiger shark'], ['White shark'], [], [], [], ['white shark', 'gill shark'], [], ['Tiger shark'], [], [], [], ['White shark'], [], ['Tiger shark'], [], [], [], ['White shark'], [], ['Blacktip shark'], ['White shark'], [], [], ['White shark'], [], [], [], [], ['Tiger shark'], [], [], [], ['Tiger shark'], [], [], [], [], ['tiger shark'], [], [], ['White shark'], ['White shark'], ['whaler shark'], ['White shark'], [], ['spinner shark'], [], ['white shark'], ['whaler shark'], ['Tiger shark'], ['Tiger shark'], ['whaler shark'], ['Raggedtooth shark'], [], ['White shark'], [], [], [], [], ['white shark'], ['White shark'], ['white shark'], ['Tiger shark'], ['white shark'], ['whaler shark'], ['white shark'], ['white shark'], [], ['Raggedtooth shark'], ['Tiger shark'], ['whaler shark'], [], ['Tiger shark'], ['Raggedtooth shark'], ['white shark'], ['whaler shark'], ['white shark'], ['Raggedtooth shark'], ['White shark'], ['white shark'], [], ['white shark'], [], ['Tiger shark'], ['white shark'], ['bull shark'], ['bull shark'], [], ['Tiger shark'], [], [], [], ['nurse shark'], ['Tiger shark'], [], [], [], [], [], ['Bull shark'], [], [], [], [], [], [], ['Mako shark'], [], ['whaler shark'], [], ['spinner shark'], [], [], [], [], ['Tiger shark'], [], ['Nurse shark'], ['sandbar shark'], ['tiger shark'], [], [], ['white shark'], ['Spinner shark'], ['whaler shark'], ['Tiger shark'], ['small shark'], ['spinner shark'], ['spinner shark'], ['Blacktip shark'], [], ['spinner shark'], ['spinner shark'], ['spinner shark'], ['spinner shark'], ['reef shark'], ['White shark'], ['whaler shark'], ['whaler shark'], ['White shark'], [], ['Blacktip shark'], ['White shark'], ['White shark'], ['White shark'], ['Tiger shark'], ['Blacktip shark'], [], ['Tiger shark'], ['Lemon shark'], ['small shark'], ['White shark'], ['Tiger shark'], ['White shark'], [], ['Tiger shark'], ['tiger shark'], ['Spinner shark'], ['white shark'], [], ['white shark'], [], [], ['Lemon shark'], ['dusky shark', 'blackfin shark'], ['blacktip shark'], [], ['blacktip shark'], ['white shark'], ['spinner shark'], ['sand shark'], ['sand shark'], ['White shark'], ['white shark'], ['white shark'], [], ['white shark'], ['white shark'], ['white shark'], [], ['spinner shark'], ['Tiger shark'], [], [], [], ['small shark'], ['small shark'], ['whaler shark'], ['white shark'], ['white shark'], ['white shark'], ['small shark'], ['spinner shark'], [], [], ['white shark'], ['white shark'], ['white shark'], ['white shark'], ['blacktip shark'], [], ['Tiger shark'], ['white shark'], ['white shark'], ['white shark'], ['white shark'], ['Bull shark', 'lemon shark'], ['Tiger shark'], [], [], ['white shark'], ['Tiger shark'], ['white shark'], ['white shark'], [], [], ['spinner shark'], ['Tiger shark'], [], ['white shark'], ['Tiger shark'], ['bull shark'], ['white shark'], [], ['white shark'], ['whaler shark'], ['white shark'], ['white shark'], ['white shark'], [], [], [], ['white shark'], [], [], [], ['blacktip shark'], [], ['white shark'], [], ['blacktip shark'], ['white shark'], ['whaler shark'], ['Blacktip shark'], [], ['white shark'], ['blacktip shark'], ['Hammerhead shark'], ['white shark'], ['White shark'], ['spinner shark'], ['white shark'], [], ['white shark'], ['white shark'], ['Zambezi shark'], ['Raggedtooth shark'], ['Raggedtooth shark'], ['Tiger shark'], [], ['hammerhead shark'], ['white shark'], ['white shark'], [], ['White shark'], ['spinner shark'], ['blacktip shark'], ['Tiger shark'], ['White shark'], ['lemon shark', 'bull shark'], ['White shark'], ['White shark'], ['Tiger shark'], ['White shark'], ['White shark'], [], ['White shark'], ['White shark'], ['dusky shark'], [], ['White shark'], [], [], [], ['White shark'], ['White shark'], ['White shark'], ['White shark'], [], ['nurse shark'], [], ['whaler shark'], ['White shark'], []]

In [21]:
data_filter["Species"]=""      #Creo una columna nueva donde actualizaré las especies

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
data_filter["Species"]=SpeciesTemporal

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
data_filter.Species=data_filter.Species.apply(",".join)

In [24]:
data_filter.Species.sort_values().unique()

array(['', 'Blacktip shark', 'Bull shark', 'Bull shark,lemon shark',
       'Galapagos shark', 'Hammerhead shark', 'Lemon shark', 'Mako shark',
       'Nurse shark', 'Raggedtooth shark', 'Reef shark', 'Spinner shark',
       'Tiger shark', 'White shark', 'Wobbegong shark', 'Zambezi shark',
       'blacktip shark', 'bull shark', 'dusky shark',
       'dusky shark,blackfin shark', 'gill shark', 'hammerhead shark',
       'juvenile shark', 'lemon shark', 'lemon shark,bull shark',
       'metre shark', 'nurse shark', 'reef shark', 'sand shark',
       'sandbar shark', 'small shark', 'spinner shark', 'tiger shark',
       'whale shark', 'whaler shark', 'white shark',
       'white shark,gill shark'], dtype=object)

In [25]:
#Normalizo la columna Species 
data_filter.Species=data_filter.Species.replace({                
    "Bull shark,lemon shark": "Bull shark",
    "Zambezi shark": "Bull shark",                    #Same species, different name
    "blacktip shark": "Blacktip shark",
    "bull shark": "Bull shark",
    "dusky shark,blackfin shark": "dusky shark",
    "hammerhead shark": "Hammerhead shark",
    "lemon shark": "Lemon shark",
    "lemon shark,bull shark": "Bull shark",
    "nurse shark": "Nurse shark",
    "sandbar shark": "sand shark",
    "juvenile shark": "small shark",
    "spinner shark": "Spinner shark",
    "reef shark": "Reef shark",
    "tiger shark": "Tiger shark", 
    "whaler shark": "whale shark",
    "white shark":"White shark",
    "white shark,gill shark": "White shark",
    "metre shark":"small shark",
    "": "Unknown"                                       #Porque los Nan ahora son strings y no puedo con fillna
})

data_filter.Species.value_counts()

Unknown              158
White shark          132
Tiger shark           45
Spinner shark         22
Bull shark            22
whale shark           18
Blacktip shark        17
small shark            9
Raggedtooth shark      7
Reef shark             5
Wobbegong shark        4
sand shark             3
Nurse shark            3
Lemon shark            3
Hammerhead shark       2
gill shark             2
dusky shark            2
Mako shark             1
Galapagos shark        1
Name: Species, dtype: int64

In [26]:
data_filter

,Year,Country,Activity,Fatal (Y/N),Time,Species,Species
16,2018.0,AUSTRALIA,Surfing,N,Morning,Shark involvement not confirmed,Unknown
20,2018.0,AUSTRALIA,Surfing,N,Early Morning,Questionable,Unknown
21,2018.0,AUSTRALIA,Surfing,N,Early Morning,3 m shark,Unknown
22,2018.0,AUSTRALIA,Surfing,N,Afternoon,"White shark, 3.5 m",White shark
30,2018.0,BAHAMAS,Surfing,N,Early Morning,Tiger shark,Tiger shark
...,...,...,...,...,...,...,...
3604,1965.0,AUSTRALIA,Surfing,N,Afternoon,"Grey nurse shark, 2.4 m [8']",Nurse shark
3740,1963.0,AUSTRALIA,Surfing,N,Early Morning,1.5 m [5'] shark,Unknown
3848,1962.0,AUSTRALIA,Surfing,N,Morning,"Bronze whaler shark, 2.1 m [7'] shark",whale shark
3999,1960.0,AUSTRALIA,Surfing,N,Late Afternoon,"White shark, 3.7 m [12']",White shark
5280,1918.0,AUSTRALIA,Surfing,N,Afternoon,12' shark,Unknown

In [27]:
data_filter.Year.head()  #Normalizo la columna year

16    2018.0
20    2018.0
21    2018.0
22    2018.0
30    2018.0
Name: Year, dtype: float64

In [28]:
data_filter.Year=data_filter.Year.astype(np.int64)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [29]:
data_clean=data_filter.drop(["Species "],axis=1)    #Elimino la antigua columna Species y creo un df nuevo para el análisis

In [30]:
data_clean.isnull().sum()

Year           0
Country        0
Activity       0
Fatal (Y/N)    0
Time           0
Species        0
dtype: int64

In [31]:
data_clean

      Year    Country Activity Fatal (Y/N)            Time      Species
16    2018  AUSTRALIA  Surfing           N         Morning      Unknown
20    2018  AUSTRALIA  Surfing           N   Early Morning      Unknown
21    2018  AUSTRALIA  Surfing           N   Early Morning      Unknown
22    2018  AUSTRALIA  Surfing           N       Afternoon  White shark
30    2018    BAHAMAS  Surfing           N   Early Morning  Tiger shark
...    ...        ...      ...         ...             ...          ...
3604  1965  AUSTRALIA  Surfing           N       Afternoon  Nurse shark
3740  1963  AUSTRALIA  Surfing           N   Early Morning      Unknown
3848  1962  AUSTRALIA  Surfing           N         Morning  whale shark
3999  1960  AUSTRALIA  Surfing           N  Late Afternoon  White shark
5280  1918  AUSTRALIA  Surfing           N       Afternoon      Unknown

[456 rows x 6 columns]

In [32]:
data_clean.to_csv("../../CSV/SharkAttackCleaning.csv") #Lo convierto en CSV para trabajar otro Jupyter de análisis